.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    height: 293px;
    /*padding: 92px 50px 96px;*/
    color: #000000;
    font-weight: normal;
    font-size: 18px;

}

.header_menu-list {
    display: flex;
    gap: 32px;
    white-space: nowrap;
    list-style: circle;
    padding-bottom: 6px;
    padding-left: 51px;
}
.header_menu-link{
    text-underline-offset: 4px;
    text-decoration-thickness: 1px;
    padding-bottom: 5px;
}
.header_menu-item.header_main_not_underlined {
    list-style: none;
}


.header_logo_image {
    width: 148px;
    height: 105px;
}

.info_address {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.4;


}

.header_info {
    margin-right: 50px;
    margin-bottom: 4px;
    max-width: 240px;
    justify-self: end;
    padding-left: 1px;
}

.address__link {
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-thickness: 1px;
}


.cover {
    position: relative;
    display: grid;
    background-image: url('../images/cover.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /*padding: 165px 50px 50px ;*/
    z-index: 0;


}

.overlay {
    position: absolute;
    inset: 0;
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;

}

.cover_title {
    text-transform: uppercase;
    width: 100%;
    color: #ffffff;
    font-weight: bold;
    font-size: 100px;
    z-index: 1;
    padding: 165px 50px 106px 50px;
    letter-spacing: 0.3em;
}

.accent-span {
    display: block;
    text-transform: uppercase;


}

.text-center {
    text-align: center;
    padding-left: 30px;
    padding-top: 17.5px;

}

.text-right {
    text-align: right;
    padding-top: 16px;
    margin-right: -30px;
}

.description {
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 400;
    font-size: 22px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    justify-content: space-between;
    z-index: 1;


}

.description_text {
    display: flex;
    word-spacing: 18.5px;
    flex-direction: column;
    justify-content: center;
}

.description_button {
    background-color: transparent;
    border-color: #ffffff;
    color: #ffffff;
    width: 257.5px;
    height: 51px;
    text-transform: uppercase;
    line-height: 100%;
    font-weight: 500;
    font-size: 22px;
}

.lots {
    margin: 180px 25px 120px;

}

.lots__heading {
    padding-left: 39px;
    padding-bottom: 27px;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
}

.lots__card-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style-type: none;
    row-gap: 27px;
}

.lots__card-list-item {
    position: relative;
    width: 334px;
    min-height: 596px;

}

.card-link {
    display: block;
    height: 100%;
    text-decoration: none;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    justify-content: space-between;
    padding: 48px 40px;
    z-index: 1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

.card_type_film {
    background-image: url("../images/card-lot-01.jpg");

}

.card_type_book {
    background-image: url("../images/card-lot-02.jpg");


}

.card_type_picture {
    background-image: url("../images/card-lot-03.jpg");

}


.card_title,
.card_text {
    z-index: 1;
    color: #ffffff;
    /*padding: 48px 40px;*/

}

.card_title {
    text-decoration: underline;
    font-size: 22px;
    text-underline-offset: 3px;
    text-transform: uppercase;
    font-weight: 700;
}

.card_text {
    font-size: 20px;
    font-weight: 400;
    line-height: 120%;

}

.lots__look-more-link {
    padding-left: 38px;
    padding-top: 30px;
    font-size: 20px;
    text-decoration: underline;
    text-underline-offset: 6px;
    text-decoration-thickness: 1px;
    font-weight: 400;
}

.about {
    margin-left: 25px;

    margin-bottom: 180px;


}

.about__column {
    display: grid;
    grid-template-columns:334px 1fr;

}

.about_logo {
    display: grid;
    width: 240px;
    height: 240px;
    place-items: center;
    margin-top: 35px;
    margin-left: 47px;


}

.about_logo_image {
    width: 148px;
    height: 114px;
    grid-area: 1 / 1;


}

.about_logo_background {
    width: 240px;
    height: 240px;
    border-radius: 50%;
    background: black;
    grid-area: 1 / 1;
}


.about_article {
    padding-top: 137px;
    padding-left: 24px;

}

.about_title {
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 100px;
}

.about_text_blok {
    display: grid;
    gap: 24px;

}

.about_text {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    width: 690px;

}

footer {
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    justify-items: center;
}

.footer__menu-list-item {
    text-align: center;
}

.footer_info {
    max-width: 264.57px;
    justify-self: center;
    font-size: 18px;
    line-height: 1.4em;
    margin-right: 2px;


}

.footer__menu-list {
    list-style: none;
    padding-top: 2px;
    font-size: 18px;
    line-height: 21px;
}
.footer_main_not_underlined{
    list-style: none;
}
.footer__menu-link {
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-thickness: 1px;
}

.footer__social-list {
    list-style-type: none;
    display: grid;
    grid-auto-flow: column;
    align-content: space-between;
    justify-items: stretch;
    margin-left: 25px;
    gap: 48px;

}

.footer__social-icon {
    width: 48px;
    height: 48px;

}